.home{
    width: 100%;
    height: 200vh;
    background: rgb(250,250,250);
background: radial-gradient(circle, rgba(250,250,250,0.3981967787114846) 0%, rgba(249,242,232,0.36458333333333337) 15%, rgba(245,245,245,0.4766281512605042) 23%, rgba(248,232,205,1) 100%);
    /* background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,199,123,0.4766281512605042) 12%, rgba(249,249,249,1) 34%, rgba(249,242,232,1) 70%, rgba(250,250,250,1) 82%, rgba(248,232,205,1) 100%); */
}